@model IEnumerable<MVClab.Models.Student>

<h2>Students</h2>

<a asp-action="AddNew" class="btn btn-outline-primary">Add New</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>SSN</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SSN</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Address</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SSN" class="btn btn-outline-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.SSN" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.SSN" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
