@model MVClab.Models.Course

<h2>Course Details</h2>

<p><strong>Number:</strong> @Model.Number</p>
<p><strong>Name:</strong> @Model.crsName</p>
<p><strong>Topic:</strong> @Model.Topic</p>
<p><strong>Degree:</strong> @Model.Degree</p>
<p><strong>Min Degree:</strong> @Model.MinDegree</p>

<a asp-action="Index" class="btn btn-info">Back to List</a>
